!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE-edge,chrome=1", :"http-equiv" => "X-UA-Compatible"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title
      = current_page.data.title || "Blurb"
    = stylesheet_link_tag "all"
    = javascript_include_tag "all"

  %body{:class => page_classes}
    .row
      .columns.large-12
        %header
          .contain-to-grid
            %nav.top-bar{:"data-topbar" => true}
              %ul.title-area
                %li.name
                  %h3
                    = link_to "/" do
                      = image_tag "logo.png"
                      %span.blurb-text.hide Blurb
                      %span.blurb-engineering Engineering
              %section.top-bar-section
                %ul
                  %li
                    = link_to "Jobs", "jobs"
                  %li
                    = link_to "Blog", "blog"
                  %li
                    = link_to "Us", "us"


        %section#main
          = yield
        %footer
          %hr
          %ul.inline-list
            %li
              %a{:href => "http://www.blurb.com"} Blurb
            %li
              %a.secondary{:href => "http://www.github.com/blurb"} Github