!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE-edge,chrome=1", :"http-equiv" => "X-UA-Compatible"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title
      = current_page.data.title || "Blurb"
    = stylesheet_link_tag "all"
    = javascript_include_tag "all"

  %body{:class => page_classes}
    %header.sticky{:"data-starting-height" => 400, :"data-min-height" => 100}
      %nav.top-bar{:"data-topbar" => true}
        %ul.title-area
          %li.name
            %h3
              = link_to "/" do
                = image_tag "logo.png", :alt => "Blurb"
        %section.top-bar-section
          %ul
            %li
              = link_to "Github", "http://www.github.com/blurb"
            %li
              = link_to "Blog", "blog"
      .row
        .columns.large-6.large-centered
          %h1
            %span.icon.entypo-book-open
            Beautiful code making beautiful books.

    %section#main
      = yield
    %footer
      .row
        .columns.large-12
          %ul.inline-list
            %li
              %a{:href => "http://www.blurb.com"} Blurb
            %li
              %a.secondary{:href => "http://www.github.com/blurb"} Github
