---
layout: boilerplate
---
.show-for-medium-up
  = partial 'header'
.show-for-small-only
  = partial 'small_header'
%section#main
  .row
    %h1
      Recent Posts
  .row
    .columns.large-7.large-centered
      .articles
        - blog.articles[0...5].each do |article|
          %h2
            %a{:href => article.url}
              = article.title
          %time
            = article.date.strftime('%b %e %Y')
          = article.summary
          %a{:href => article.url}
            Read more
= partial 'footer'